@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot');
	src:url('icomoon.eot?#iefix') format('embedded-opentype'),
		url('icomoon.woff') format('woff'),
		url('icomoon.ttf') format('truetype'),
		url('icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.facetime-video-icon:before {
	content: "\e600";
}
.circle-icon:before {
	content: "\e601";
}
.envelope-icon:before {
	content: "\e602";
}
.play-circle-icon:before {
	content: "\e603";
}
.film-icon:before {
	content: "\e604";
}
.print-icon:before {
	content: "\e606";
}
.rss-sign-icon:before {
	content: "\e607";
}
.rss-icon:before {
	content: "\e608";
}
.envelope-alt-icon:before {
	content: "\e609";
}
.chevron-sign-down-icon:before {
	content: "\e60a";
}
.chevron-sign-up-icon:before {
	content: "\e60b";
}
.chevron-sign-right-icon:before {
	content: "\e60c";
}
.chevron-sign-left-icon:before {
	content: "\e60d";
}
.play-sign-icon:before {
	content: "\e60e";
}
.tumblr-sign-icon:before {
	content: "\e60f";
}
.circle-arrow-up-icon:before {
	content: "\e610";
}
.google-plus-sign-icon:before {
	content: "\e611";
}
.remove-icon:before {
	content: "\e612";
}
.ok-icon:before {
	content: "\e613";
}
.circle-arrow-down-icon:before {
	content: "\e614";
}
.minus-sign-icon:before {
	content: "\e615";
}
.plus-sign-icon:before {
	content: "\e616";
}
.remove-sign-icon:before {
	content: "\e617";
}
.ok-sign-icon:before {
	content: "\e618";
}
.download-icon:before {
	content: "\e619";
}
.linkedin-sign-icon:before {
	content: "\e61a";
}
.twitter-sign-icon:before {
	content: "\e61b";
}
.linkedin-icon:before {
	content: "\e61c";
}
.facebook-sign-icon:before {
	content: "\e61d";
}
.google-plus-icon:before {
	content: "\e61e";
}
.upload-icon:before {
	content: "\e61f";
}
.picture-icon:before {
	content: "\e620";
}
.music-icon:before {
	content: "\e621";
}
.pencil-icon:before {
	content: "\e622";
}
.instagram-icon:before {
	content: "\e623";
}
.circle-arrow-right-icon:before {
	content: "\e624";
}
.circle-arrow-left-icon:before {
	content: "\e625";
}
.user-icon:before {
	content: "\e626";
}
.youtube-icon:before {
	content: "\e627";
}
.youtube-play-icon:before {
	content: "\e628";
}
.youtube-sign-icon:before {
	content: "\e629";
}
.collapse-top-icon:before {
	content: "\e62a";
}
.external-link-icon:before {
	content: "\e605";
}
.share-icon:before {
	content: "\e633";
}
.signout-icon:before {
	content: "\e634";
}
.signin-icon:before {
	content: "\e635";
}
.arrow-left-icon:before {
	content: "\e62b";
}
.heavy-arrow-down-icon:before {
	content: "\e62c";
}
.heavy-arrow-up-icon:before {
	content: "\e62d";
}
.heavy-arrow-right-icon:before {
	content: "\e62e";
}
.heavy-arrow-left-icon:before {
	content: "\e62f";
}
.arrow-down-icon:before {
	content: "\e631";
}
.arrow-up-icon:before {
	content: "\e632";
}
.link-icon:before {
	content: "\e636";
}
.file-pdf-icon:before {
	content: "\e637";
}
.file-icon:before {
	content: "\e638";
}
.bubbles-icon:before {
	content: "\e639";
}
.bubbles-alt-icon:before {
	content: "\e63a";
}
.mobile-icon:before {
	content: "\e630";
}
.cog-icon:before {
	content: "\e006";
}
.arrow-right-icon:before {
	content: "\e000";
}
.chevron-sign-left-alt-icon:before {
	content: "\f10a";
}
.chevron-sign-right-alt-icon:before {
	content: "\f105";
}
.chevron-sign-down-alt-icon:before {
	content: "\f107";
}
.twitter-icon:before {
	content: "\e001";
}
.facebook-icon:before {
	content: "\e002";
}
.tumblr-icon:before {
	content: "\e003";
}
.grid-icon:before {
	content: "\e004";
}
.search-icon:before {
	content: "\e005";
}
.pintrest-icon:before {
	content: "\e63c";
}
.yelp-icon:before {
	content: "\e63b";
}
.arrow-right-circle:before {
	content: "\e63b";
}
.arrow-left-circle:before {
	content: "\e63c";
}
.pintrest-circle:before {
	content: "\e63d";
}
.facebook-circle:before {
	content: "\e63e";
}
.mail-circle:before {
	content: "\e63f";
}
.twitter-circle:before {
	content: "\e640";
}